﻿@model  CU.HouseHolding.DataAccess.Model.ImportedFileMasterView
@{
    ViewBag.Title = "Report Details";
    ViewBag.Page = "reports";
}

<header class="page-header">
    <h2>Report Details</h2>
    <style>
        .table-responsive {
            padding:10px;
        }
    </style>
</header>
<link href="~/assets/bootstrap-sortable/bootstrap-sortable.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title"></h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Detail", "Report", FormMethod.Post, new { @class = "form-horizontal form-bordered", onsubmit = "showLoader(this);" }))
                {
                    if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Message"]</strong>
                        </div>
                    }
                    if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Error"]</strong>
                        </div>
                    }
                    <div class="panel-body">

                        <div style="text-align:right;margin-bottom:10px;">
                            <a href="~/Report/Download/@ViewData["ReportId"]" class="btn btn-success">Download Report </a>
                            <a href="~/Report/Index" class="btn btn-primary">Back to Reports </a>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="inputDefault">Page:</label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(c => c.Page, new SelectList(Model.PageNumbers, Model.Page), new { onchange = "this.form.submit();", @class = "form-control" })
                            </div>
                            <label class="col-md-1 control-label" for="inputDefault">PageSize:</label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(c => c.PageSize, new SelectList(Model.PageSteps, Model.PageSize), new { onchange = "this.form.submit();", @class = "form-control", @style = "width:auto !important;" })
                            </div>
                        </div>
                        <span style="color:red;"> Sorting applicable on Column Names</span>
                        <div class="table-responsive">
                            <table class="table table-bordered sortable table-condensed mb-none">
                                <thead style="background:#c3c6cc;">
                                    <tr>
                                        <th>MemberId</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Address1</th>
                                        <th>Address2</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>ZipCode</th>
                                        <th>HouseHoldId</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.FileDtlResults.Count > 0)
                                    {
                                        foreach (var item in Model.FileDtlResults)
                                        {
                                            <tr>
                                                <td>@item.Memberid</td>
                                                <td>@item.FirstName</td>
                                                <td>@item.LastName</td>
                                                <td>@item.Address1</td>
                                                <td>@item.Address2</td>
                                                <td>@item.City</td>
                                                <td>@item.State</td>
                                                <td>@item.Zip</td>
                                                <td>@item.HouseHoldId</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9" style="color:red;text-align:center">
                                                No Records Found
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <footer class="panel-footer"></footer>
        </section>
    </div>
</div>
@section scripts{}

