﻿@model CU.HouseHolding.DataAccess.Model.HouseHoldSummaryViewResult
@{
    ViewBag.Title = "Reports";
    ViewBag.Page = "summarybyproduct";
}


<header class="page-header">
    <style>
        * {
            box-sizing: border-box;
        }

        .chosen-container {
            width: 157px !important;
        }

        #myInput, #FilterMember {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 12px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: black;
                display: block
            }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }

        .custom-map__scroll-y {
            height: 300px;
            overflow-y: auto;
        }

        .custom-map-tbl__scroll-y {
            height: 270px;
            overflow-y: auto;
        }

        .tbl-col1 {
            width: 20px;
        }

        .mt-40 {
            margin-top: 40px;
        }

        #dataTable thead th {
            background-color: #34495e;
            color: white;
        }
        .lable {
            color:black;
        }
        .table-responsive {
            padding: 10px;
        }
    </style>
    <link href="~/Areas/Admin/Theme/css/dataTables.bootstrap4.css" rel="stylesheet" />

</header>
<div class="row" onload="showLoader(this);">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @*<div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>*@

                <h2 class="panel-title">Financial Summary for HouseHoldId <b>@ViewBag.HouseHoldId</b></h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("HouseHoldSummary", "Report", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <span class="lable">Total Members:</span> @Model.HHSummaryDetail.TotalMembers
                            </div>
                            <div class="col-md-4">
                                <span class="lable">Head of HouseHold Id :</span> @Model.HHSummaryDetail.HeadofHouseHoldId
                            </div>
                            <div class="col-md-4">
                                <span class="lable">Total Products :</span> @Model.HHSummaryDetail.TotalProducts
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top:15px;">
                            <div class="col-md-4">
                                <span class="lable">Total Loan Products :</span> @Model.HHSummaryDetail.TotalLoanProducts
                            </div>
                            <div class="col-md-4">
                                <span class="lable">Total Deposit Products :</span> @Model.HHSummaryDetail.TotalDepositProducts
                            </div>
                            <div class="col-md-4">
                                <span class="lable">Total Transaction Amount :</span> @string.Format("{0:C}", Model.HHSummaryDetail.TotalTransactionAmount)
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top:15px;">
                            <div class="col-md-4">
                                <span class="lable">Total Checking Balance :</span>@string.Format("{0:C}", Model.HHSummaryDetail.TotalCheckingBalance)
                            </div>
                            <div class="col-md-4">
                                <span class="lable">Total Saving Balance :</span>@string.Format("{0:C}", Model.HHSummaryDetail.TotalSavingBalance)
                            </div>
                            <div class="col-md-4">
                                <span class="lable">Average Checking Balance :</span>@string.Format("{0:C}", Model.HHSummaryDetail.AvgCheckingBalance)
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" style="height:330px !important;overflow:scroll;">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Member Id</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Total Products</th>
                                    <th>No.of Transaction</th>
                                    <th>Saving Balance</th>
                                    <th>Checking Balance</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.lstMembers.Count > 0)
                                {
                                    foreach (var item in Model.lstMembers)
                                    {
                                        <tr>
                                            <td>@item.Memberid</td>
                                            <td>@item.Age</td>
                                            <td>@item.Address1</td>
                                            <td>@item.TotalProducts</td>
                                            <td>@item.TotalTransactionInLast6Month</td>
                                            <td>@string.Format("{0:C}", item.SavingAccountBalance)</td>
                                            <td>@string.Format("{0:C}", item.CheckingAccountBalance)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9" style="color:red;text-align:center">
                                            No Records Found
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Theme/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({/* Disable initial sort */
                "aaSorting": [],
                "pageLength": 25,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    // converting to interger to find total
                    //var intVal = function (i) {
                    //    return typeof i === 'string' ?
                    //        i.replace(/[\$,]/g, '') * 1 :
                    //        typeof i === 'number' ?
                    //            i : 0;
                    //};
                    //// computing column Total of the complete result
                    //var col1Total = api
                    //    .column(1, { page: 'current' } )
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //var col2Total = api
                    //    .column(2, { page: 'current' } )
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);
                    //var col3Total = api
                    //    .column(3, { page: 'current' } )
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //var col4Total = api
                    //    .column(4, { page: 'current' } )
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer by showing the total with the reference of the column index
                    //$(api.column(0).footer()).html('Total');
                    //$(api.column(1).footer()).html(col1Total);
                    //$(api.column(2).footer()).html(col2Total);
                    //$(api.column(3).footer()).html('$ '+ col3Total);
                    //$(api.column(4).footer()).html('$ '+ col4Total);
                }
            });
        });
    </script>
}




