﻿@model CU.HouseHolding.DataAccess.Model.ImportedFileMasterView
@{
    ViewBag.Title = "Index";
    ViewBag.Page = "reports";
}

<header class="page-header">
    <h2>Reports</h2>

    @*<div class="right-wrapper pull-right">
           <ol class="breadcrumbs">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span></span></li>
                </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>*@
</header>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title"></h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Report", FormMethod.Post, new { @class = "form-horizontal form-bordered", onsubmit = "showLoader(this);" }))
                {
                    if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Message"]</strong>
                        </div>
                    }
                    if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Error"]</strong>
                        </div>
                    }
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="col-md-2 control-label">From Date:</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" name="fromdate" value="@ViewBag.FromDate" data-plugin-datepicker class="form-control">
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">To Date:</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" name="todate" value="@ViewBag.ToDate" data-plugin-datepicker class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="submit" name="search" value="Search" class="form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="inputDefault">Page:</label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(c => c.Page, new SelectList(Model.PageNumbers, Model.Page), new { onchange = "this.form.submit();", @class = "form-control" })
                            </div>
                            <label class="col-md-1 control-label" for="inputDefault">PageSize:</label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(c => c.PageSize, new SelectList(Model.PageSteps, Model.PageSize), new { onchange = "this.form.submit();", @class = "form-control", @style = "width:auto !important;" })
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th>FileName</th>
                                        <th>Report Name</th>
                                        <th>Similarity Score</th>
                                        <th>Report Date</th>
                                        @*<th class="text-right">Price</th>*@
                                        <th>Status</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.FileMstResults.Count > 0)
                                    {
                                        foreach (var item in Model.FileMstResults)
                                        {
                                            <tr>
                                                <td>@item.FileName</td>
                                                <td>@item.ReportName</td>
                                                <td>@item.SimilarityScore</td>
                                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                                @if (item.ProcessEndDate.HasValue)
                                                {
                                                    <td class="success">Completed</td>
                                                }
                                                else
                                                {
                                                    <td class="primary">In Progress</td>
                                                }
                                                <td class="actions">
                                                    <a href="~/Report/Detail/@item.Id" data-toggle="tooltip" title="View Report">
                                                        <img src="~/assets/images/html-24x24.png" alt="View Report" />
                                                    </a>
                                                    <a href="~/Report/Download/@item.Id" data-toggle="tooltip" title="Download CSV">
                                                        <img src="~/assets/images/csv.png" alt="Download CSV" />
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" style="color:red;text-align:center">
                                                No Records Found
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <footer class="panel-footer"></footer>
        </section>
    </div>
</div>
@section scripts{}

