﻿@model CU.HouseHolding.DataAccess.Model.ViewReportModel
@{
    ViewBag.Title = "Reports";
    ViewBag.Page = "search";
}

<header class="page-header">
    <h2>Search</h2>
    <style>
        * {
            box-sizing: border-box;
        }

        .chosen-container {
            width: 157px !important;
        }

        #myInput, #FilterMember {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 12px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: black;
                display: block
            }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }

        .custom-map__scroll-y {
            height: 300px;
            overflow-y: auto;
        }

        .custom-map-tbl__scroll-y {
            height: 270px;
            overflow-y: auto;
        }

        .tbl-col1 {
            width: 20px;
        }

        .mt-40 {
            margin-top: 40px;
        }
    </style>
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Theme/css/dataTables.bootstrap4.css" rel="stylesheet" />

</header>
<div class="row" onload="showLoader(this);">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @*<div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>*@

                <h2 class="panel-title">Search</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Search", "Report", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                Report : @Html.DropDownListFor(m => m.ReportNames, new SelectList(Model.ReportNames, ViewBag.SelectedName), "All Reports", new { @class = "chosen-select" })
                            </div>
                            <div class="col-md-4">
                                Member Id :@Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", @style = "width:157px;" })
                            </div>
                            <div class="col-md-4">
                                HOH Id : @Html.TextBoxFor(m => m.HOHId, new { @class = "form-control", @style = "width:157px;" })
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top:15px;">

                            <div class="col-md-4">
                                HouseHold Id: @Html.TextBoxFor(m => m.HouseHoldId, new { @class = "form-control", @style = "width:157px;" })
                            </div>
                            <div class="col-md-4">
                                Member Name :@Html.TextBoxFor(m => m.MemberName, new { @class = "form-control", @style = "width:157px;" })
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>HouseHold Id</th>
                                    <th>Member Id</th>
                                    <th>Member Name</th>
                                    <th>Address</th>

                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.lstResults != null)
                                {
                                    foreach (var item in Model.lstResults)
                                    {
                                        <tr>
                                            <td><a href='@Url.Action("HouseHoldSummary", "Report", new { HouseHoldId = item.HouseHoldId })' class="openPopup">@item.HouseHoldId</a></td>
                                            <td>@item.MemberId</td>
                                            <td>@item.MemberName</td>
                                            <td>@item.Address</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen();
            $('#dataTable').DataTable();
        });
    </script>
}