﻿@model CU.HouseHolding.DataAccess.Model.SummryDetailViewResult
@{
    ViewBag.Title = "Reports";
    ViewBag.Page = "summarybyproduct";
}

<header class="page-header">
    <style>
        * {
            box-sizing: border-box;
        }

        .chosen-container {
            width: 157px !important;
        }

        #myInput, #FilterMember {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 12px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: black;
                display: block
            }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }

        .custom-map__scroll-y {
            height: 300px;
            overflow-y: auto;
        }

        .custom-map-tbl__scroll-y {
            height: 270px;
            overflow-y: auto;
        }

        .tbl-col1 {
            width: 20px;
        }

        .mt-40 {
            margin-top: 40px;
        }

        #dataTable thead th {
            background-color: #34495e;
            color: white;
        }
    </style>
    <link href="~/Areas/Admin/Theme/css/dataTables.bootstrap4.css" rel="stylesheet" />

</header>
<div class="row" onload="showLoader(this);">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    @using (Html.BeginForm("Export", "Report", FormMethod.Post))
                    {
                        <a href="~/Report/DownloadSummaryDetail?ReportType=@ViewBag.Type&ExportType=CSV&TierGroup=@ViewBag.Tiergroup" data-toggle="tooltip" title="Download CSV">
                            <img src="~/assets/images/csv.png" alt="Download CSV" />
                        </a>
                        <a href="~/Report/DownloadSummaryDetail?ReportType=@ViewBag.Type&ExportType=Excel&TierGroup=@ViewBag.Tiergroup" data-toggle="tooltip" title="Download Excel">
                            <img src="~/assets/images/xls.png" alt="Download Excel" />
                        </a>
                        <a>
                            @*<input type="submit" id="btnSubmit" value="Export" />*@
                            <button type="submit" style="border:0px !important;background:transparent;" id="btnSubmit" data-toggle="tooltip" title="Download Pdf"> <img src="~/assets/images/pdf.png" alt="Download Pdf" /></button>
                        </a>
                        <input type="hidden" name="GridHtml" />
                        <input type="hidden" name="FileName" />
                    }
                </div>

                <h2 class="panel-title">Tier @ViewBag.Tiergroup Summary Details by @ViewBag.Type</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("SummaryDetail", "Report", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);" }))
                {
                    @*<div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    Report : @Html.DropDownListFor(m => m.ReportNames, new SelectList(Model.ReportNames, ViewBag.SelectedName), "All Reports", new { @class = "chosen-select" })
                                </div>
                                <div class="col-md-4">
                                    Member Id :@Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                                <div class="col-md-4">
                                    HOH Id : @Html.TextBoxFor(m => m.HOHId, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-top:15px;">

                                <div class="col-md-4">
                                    HouseHold Id: @Html.TextBoxFor(m => m.HouseHoldId, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                                <div class="col-md-4">
                                    Member Name :@Html.TextBoxFor(m => m.MemberName, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>*@

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    @if (Model.lstResults != null)
                                    {
                                        for (int i = 0; i < Model.lstResults.Columns.Count; i++)
                                        {
                                            <th>@Model.lstResults.Columns[i].ColumnName</th>
                                        }
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.lstResults != null)
                                {

                                    for (int i = 0; i < Model.lstResults.Rows.Count; i++)
                                    {
                                        System.Data.DataRow dr = Model.lstResults.Rows[i];
                                        <tr>
                                            @for (int j = 0; j < Model.lstResults.Columns.Count; j++)
                                            {
                                                if (j == 0)
                                                {
                                                    <td><a href='@Url.Action("HouseHoldSummary", "Report", new { HouseHoldId = @dr[j].ToString() })' class="openPopup">@dr[j].ToString()</a></td>
                                                }
                                                else
                                                {
                                                    <td>@dr[j].ToString()</td>
                                                }
                                            }
                                        </tr>
                                    }

                                }
                            </tbody>
                            <tfoot align="right">
                                <tr>
                                    @if (Model.lstResults != null)
                                    {
                                        for (int i = 0; i < Model.lstResults.Columns.Count; i++)
                                        {
                                            <th></th>
                                        }
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div id="Grid" style="display:none;padding-right:5px;margin-right:5px;">
                        <h2 class="panel-title">Tier @ViewBag.Tiergroup Summary by @ViewBag.Type</h2>
                        <table cellpadding="2" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;padding-right:5px;margin-right:5px;">
                            <tr>
                                <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">HouseHold Id</th>
                                <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Total Members</th>
                                <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Total Products</th>
                                <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Total Saving Balance</th>
                                <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Total Checking Balance</th>
                                <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">HOD Member Id</th>
                            </tr>

                            @for (int i = 0; i < Model.lstResults.Rows.Count; i++)
                            {
                                System.Data.DataRow dr = Model.lstResults.Rows[i];
                                <tr>
                                    @for (int j = 0; j < Model.lstResults.Columns.Count; j++)
                                    {

                                        <td style="border: 1px solid #ccc">@dr[j].ToString()</td>

                                    }
                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Theme/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({/* Disable initial sort */
                "aaSorting": [],
                "pageLength": 25,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    // computing column Total of the complete result
                    var col1Total = api
                        .column(1, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var col2Total = api
                        .column(2, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var col3Total = api
                        .column(3, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var col4Total = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    //Format Total to USD Currency Format
                    var format = new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',
                        minimumFractionDigits: 2,
                    }); 

                    // Update footer by showing the total with the reference of the column index
                    $(api.column(0).footer()).html('Total');
                    $(api.column(1).footer()).html(col1Total);
                    $(api.column(2).footer()).html(col2Total);
                    $(api.column(3).footer()).html(format.format(col3Total));
                    $(api.column(4).footer()).html(format.format(col4Total));
                }
            });

            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
                $("input[name='FileName']").val("Tier"+@ViewBag.Tiergroup+"SummaryDetail");
            });
        });
    </script>
}


