﻿@model CU.HouseHolding.DataAccess.Model.SummrybyMembers
@{
    ViewBag.Title = "Reports";
    ViewBag.Page = "summarybymember";
}


<header class="page-header">
    <style>
        * {
            box-sizing: border-box;
        }

        .chosen-container {
            width: 157px !important;
        }

        #myInput, #FilterMember {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 12px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: black;
                display: block
            }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }

        .custom-map__scroll-y {
            height: 300px;
            overflow-y: auto;
        }

        .custom-map-tbl__scroll-y {
            height: 270px;
            overflow-y: auto;
        }

        .tbl-col1 {
            width: 20px;
        }

        .mt-40 {
            margin-top: 40px;
        }

        #dataTable thead th {
            background-color: #34495e;
            color: white;
        }
    </style>
    <link href="~/Areas/Admin/Theme/css/dataTables.bootstrap4.css" rel="stylesheet" />

</header>
<div class="row" onload="showLoader(this);">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    @*<a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>*@

                    @*<a href="~/Report/ViewPdf" data-toggle="tooltip" title="Download Pdf">
                            <img src="~/assets/images/SavetoExcel.jpg" alt="Download Pdf" />
                        </a>*@
                    @using (Html.BeginForm("Export", "Report", FormMethod.Post))
                    {
                        <a href="~/Report/DownloadSummary?ReportType=Members&ExportType=CSV" data-toggle="tooltip" title="Download CSV">
                            <img src="~/assets/images/csv.png" alt="Download CSV" />
                        </a>
                        <a href="~/Report/DownloadSummary?ReportType=Members&ExportType=Excel" data-toggle="tooltip" title="Download Excel">
                            <img src="~/assets/images/xls.png" alt="Download Excel" />
                        </a>
                        <a>
                            @*<input type="submit" id="btnSubmit" value="Export" />*@
                            <button type="submit" style="border:0px !important;background:transparent;" id="btnSubmit" data-toggle="tooltip" title="Download Pdf"> <img src="~/assets/images/pdf.png" alt="Download Pdf" /></button>
                        </a>
                        <input type="hidden" name="GridHtml" />
                        <input type="hidden" name="FileName" />
                    }
                </div>

                <h2 class="panel-title">HouseHold Summary by Total Members</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("SummaryByTotalMember", "Report", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);" }))
                {

                    <div class="col-md-12">
                        <div class="col-md-7">
                            <div>
                                <canvas id="Piecanvas"></canvas>
                            </div>
                        </div>

                    </div>
                    
                    <div class="col-md-12" id="doughnutChartContainer">
                            <canvas id="doughnutcanvasas"></canvas>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Tier1<br />1</th>
                                        <th>Tier2<br />2</th>
                                        <th>Tier3<br />3-4</th>
                                        <th>Tier4<br />5-6</th>
                                        <th>Tier5<br />6+</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model.lstResults != null)
                                    {
                                        for (int i = 0; i < Model.lstResults.Count(); i++)
                                        {
                                            var item = Model.lstResults[i];
                                            <tr>
                                                <td style="color:black;">@item.Description</td>
                                                @if (i == 0)
                                                {
                                                    <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Member",TierGroup=1 })' class="openPopup">@item.Tier1</a></td>
                                                    <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Member",TierGroup=2 })' class="openPopup">@item.Tier2</a></td>
                                                    <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Member",TierGroup=3 })' class="openPopup">@item.Tier3</a></td>
                                                    <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Member",TierGroup=4 })' class="openPopup">@item.Tier4</a></td>
                                                    <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Member",TierGroup=5 })' class="openPopup">@item.Tier5</a></td>
                                                    <td>@item.Total</td>
                                                }
                                                else
                                                {
                                                    <td>@item.Tier1</td>
                                                    <td>@item.Tier2</td>
                                                    <td>@item.Tier3</td>
                                                    <td>@item.Tier4</td>
                                                    <td>@item.Tier5</td>
                                                    <td>@item.Total</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="Grid" style="display:none;padding-right:5px;margin-right:5px;">
                            <h2 class="panel-title">HouseHold Summary by Total Members</h2>
                            <table cellpadding="2" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;padding-right:5px;margin-right:5px;">
                                <tr>
                                    <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Description</th>
                                    <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Tier 1<div style="padding-top:10px;">1</div></th>
                                    <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Tier 2<div style="padding-top:10px;">2</div></th>
                                    <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Tier 3<div style="padding-top:10px;">3-4</div></th>
                                    <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Tier 4<div style="padding-top:10px;">5-6</div></th>
                                    <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Tier 5<div style="padding-top:10px;">6+</div></th>
                                    <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Total</th>
                                </tr>

                                @foreach (var item in Model.lstResults)
                                {
                                    <tr>
                                        <td style="width:120px;border: 1px solid #ccc">@item.Description</td>
                                        <td style="width:120px;border: 1px solid #ccc">@item.Tier1</td>
                                        <td style="width:120px;border: 1px solid #ccc">@item.Tier2</td>
                                        <td style="width:120px;border: 1px solid #ccc">@item.Tier3</td>
                                        <td style="width:120px;border: 1px solid #ccc">@item.Tier4</td>
                                        <td style="width:120px;border: 1px solid #ccc">@item.Tier5</td>
                                        <td style="width:120px;border: 1px solid #ccc">@item.Total </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }


            </div>
        </section>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Theme/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/chart.js"></script>
    
    <script>
        $(document).ready(function () {
           

            $('#dataTable').DataTable({/* Disable initial sort */
                "aaSorting": [],
                "pageLength": 25
            });
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
                $("input[name='FileName']").val("SummaryReportByMembers");
            });
        });
    </script>

    <script>
         var PieChartData =
            {
                labels: [@Html.Raw(ViewBag.Series)],
                datasets: [{
                    label: '# of HouseHold',
                    backgroundColor: [
                        "#FF9F1C",
                        "#080357",
                        "#6AF500",
                        "#523200",
                        "#5E6600",
                    ],
                    borderWidth: 1,
                    data: [@ViewBag.Values]
                }]
    };
    window.onload = function () {
        var canvas = document.getElementById("Piecanvas");
        var ctx = canvas.getContext("2d");

       

            var myNewChart = new Chart(ctx, {
                type: 'pie',
                height: "230px",
                width: "300px",
                animation: false, 
                data: PieChartData,
                options: {
                    title: {
                        display: true,
                        text: 'HouseHold Summary by Total Members',
                        fontStyle: 'bold',
                        fontSize: 20
                    },
                    responsive: true,
                    legend: {
                        position: 'right',
                        labels: {
                            fontColor: "black",
                            boxWidth: 20,
                            padding: 20
                        }
                    },
                    tooltips: {
                        callbacks: {
                            // this callback is used to create the tooltip label
                            label: function (tooltipItem, data) {
                                // get the data label and data value to display
                                // convert the data value to local string so it uses a comma seperated number
                                var dataLabel = '# of HouseHold'; //data.labels[tooltipItem.index];
                                var value = ' : ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString() ;

                                // make this isn't a multi-line label (e.g. [["label 1 - line 1, "line 2, ], [etc...]])
                                if (Chart.helpers.isArray(dataLabel)) {
                                    // show value on first line of multiline label
                                    // need to clone because we are changing the value
                                    dataLabel = dataLabel.slice();
                                    dataLabel[0] += value;
                                } else {
                                    dataLabel += value;
                                }

                                // return the text to display on the tooltip
                                //alert(dataLabel);
                                //document.getElementById("an").text = data.labels[tooltipItem.index] +'Summary';
                                return dataLabel;
                            }
                        }
                    }
                }
            });

            canvas.onclick = function (evt) {
                var activePoints = myNewChart.getElementsAtEvent(evt);
                if (activePoints[0]) {
                    var chartData = activePoints[0]['_chart'].config.data;
                    var idx = activePoints[0]['_index'];

                    var label = chartData.labels[idx];
                    var value = chartData.datasets[0].data[idx];

                    var url = "http://example.com/?label=" + label + "&value=" + value;
                    console.log(url);
                    LoadDaugnutChart(label);
                    //alert(url);

                }
            };
        }

        function LoadDaugnutChart(Tier)
        {
            $('#doughnutChartContainer').html(''); //remove canvas from container
            $('#doughnutChartContainer').html('<canvas id="doughnutcanvasas" height="200" width="578"></canvas>'); //add it back to the container
           
            $.ajax({
                url: "/Report/GetDaugnutXSeriesValues",
                data: { TierGroup: Tier.replace("Tier ", "") },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    //alert(data.results.d);
                    var XSeries = [];
                    var YSeries = [];
                    $.each(data.results, function (index, item) {
                        XSeries.push(data.results[index].Series);
                        YSeries.push(data.results[index].Values);
                    });
                    //alert('[' + XSeries + ']');
                    //alert('[' + YSeries + ']');
                     var DoughnutChartData  =
            {
                         labels: XSeries,
                datasets: [{
                    label: '# of HouseHold',
                    backgroundColor: [
                        "#a84432",
                        "#ed850e",
                        "#f7cb05",
                        "#d7f705",
                        "#0de090",
                        "#07f0e8",
                        "#05a5f0",
                        "#053cf2",
                        "#5a05ed",
                        "#b107fa"
                    ],
                    borderWidth: 1,
                    data: YSeries
                }]
    };
                       //LOad DoughnutChart
                    const canvas1 = document.getElementById("doughnutcanvasas");
                    const ctx1 = canvas1.getContext("2d");
                    var myNewChart1 = new Chart(ctx1, {
                        type: 'doughnut',
                        height: "500px",
                        width: "500px",
                        data: DoughnutChartData,
                        options: {
                            title: {
                                display: true,
                                text: Tier + ' Summary by Total Members',
                                fontStyle: 'bold',
                                fontSize: 20
                            },
                            responsive: true,
                            legend: {
                                position: 'right',
                                labels: {
                                    fontColor: "black",
                                    padding: 20
                                }
                            },
                            tooltips: {
                                callbacks: {
                                    // this callback is used to create the tooltip label
                                    label: function (tooltipItem, data) {
                                        // get the data label and data value to display
                                        // convert the data value to local string so it uses a comma seperated number
                                        var dataLabel = '# of HouseHold'; //data.labels[tooltipItem.index];
                                        var value = ' : ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString();

                                        // make this isn't a multi-line label (e.g. [["label 1 - line 1, "line 2, ], [etc...]])
                                        if (Chart.helpers.isArray(dataLabel)) {
                                            // show value on first line of multiline label
                                            // need to clone because we are changing the value
                                            dataLabel = dataLabel.slice();
                                            dataLabel[0] += value;
                                        } else {
                                            dataLabel += value;
                                        }

                                        // return the text to display on the tooltip
                                        //alert(dataLabel);
                                        //document.getElementById("an").text = data.labels[tooltipItem.index] +'Summary';
                                        return dataLabel;
                                    }
                                }
                            }
                        }
                    });

                    myNewChart1.update();

                },
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                }
            });
        }

         
    </script>
}

