﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charts</title>
    <script src="~/Scripts/chart.js"></script>
    @*<script>

            var barChartData =
                {
                    labels: [@Html.Raw(ViewBag.Series)],
                    datasets: [{
                        label: '# of HouseHold',
                        backgroundColor: [
                            "#f990a7",
                            "#aad2ed",
                            "#9966FF",
                            "#99e5e5",
                            "#f7bd83",
                        ],
                        borderWidth: 2,
                        data: [@ViewBag.Values]
                    }]
                };

                window.onload = function () {
                    var ctx1 = document.getElementById("barcanvas").getContext("2d");
                    window.myBar = new Chart(ctx1,
                        {
                            type: 'bar',
                            data: barChartData,
                            options:
                                {
                                    title:
                                    {
                                        display: true,
                                        text: "HouseHold Summary by Total Members"
                                    },
                                    responsive: true,
                                maintainAspectRatio: true,
                                legend: {
                                    display: true,
                                    labels: {
                                        fontColor: 'rgb(255, 99, 132)'
                                    }
                                },
                                onClick: function (c, i) {
                                    e = i[0];
                                    alert(e._index);
                                    var x_value = this.data.labels[e._index];
                                    var y_value = this.data.datasets[0].data[e._index];
                                    alert(x_value);
                                    alert(y_value);
                                }
                            }

                        });
                }
        </script>
        <script>

            var LineChartData =
                {
                    labels: [@Html.Raw(ViewBag.Series)],
                    datasets: [{
                        label: 'ProductWise Sales Count',
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderWidth: 2,
                        data: [@ViewBag.Values]
                    }]
                };


                window.onload = function () {
                    var ctx1 = document.getElementById("Linecanvas").getContext("2d");
                    window.myBar = new Chart(ctx1,
                        {
                            type: 'line',
                            data: LineChartData,
                            options:
                                {
                                    title:
                                    {
                                        display: true,
                                        text: "ProductWise Sales Count"
                                    },
                                    responsive: true,
                                maintainAspectRatio: true
                                }
                        });
                }
        </script>*@

    <script>
         var PieChartData =
            {
                labels: [@Html.Raw(ViewBag.Series)],
                datasets: [{
                    label: '# of HouseHold',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.Values]
                }]
    };

    window.onload = function () {
        var canvas = document.getElementById("Piecanvas");
            var ctx = canvas.getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'pie',
                data: PieChartData,
                options: {
                    title: {
                        display: true,
                        text: 'HouseHold Summary by Total Members',
                        fontStyle: 'bold',
                        fontSize: 20
                    },
                    tooltips: {
                        callbacks: {
                            // this callback is used to create the tooltip label
                            label: function (tooltipItem, data) {
                                // get the data label and data value to display
                                // convert the data value to local string so it uses a comma seperated number
                                var dataLabel = '# of HouseHold'; //data.labels[tooltipItem.index];
                                var value = ' : ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString() ;

                                // make this isn't a multi-line label (e.g. [["label 1 - line 1, "line 2, ], [etc...]])
                                if (Chart.helpers.isArray(dataLabel)) {
                                    // show value on first line of multiline label
                                    // need to clone because we are changing the value
                                    dataLabel = dataLabel.slice();
                                    dataLabel[0] += value;
                                } else {
                                    dataLabel += value;
                                }

                                // return the text to display on the tooltip
                                //alert(dataLabel);
                                document.getElementById("an").text = data.labels[tooltipItem.index] +'Summary';
                                return dataLabel;
                            }
                        }
                    }
                }
            });

            canvas.onclick = function (evt) {
                var activePoints = myNewChart.getElementsAtEvent(evt);
                if (activePoints[0]) {
                    var chartData = activePoints[0]['_chart'].config.data;
                    var idx = activePoints[0]['_index'];

                    var label = chartData.labels[idx];
                    var value = chartData.datasets[0].data[idx];

                    var url = "http://example.com/?label=" + label + "&value=" + value;
                    console.log(url);
                    alert(url);
                }
            };
        }




            //window.onload = function () {
            //    var ctx1 = document.getElementById("Piecanvas").getContext("2d");
            //    window.myBar = new Chart(ctx1,
            //        {
            //            type: 'pie',
            //            data: PieChartData,
            //            options:
            //                {
            //                    title:
            //                    {
            //                        display: true,
            //                        text: "HouseHold Summary by Total Members"
            //                    },
            //                    responsive: true,
            //                    maintainAspectRatio: true
            //                }
            //        });
            //}
    </script>


    <script>
        var config = {
            type: 'pie',
            data: {
                labels: ["USSD", "URP", "MyTsel App", "Chatbot"],
                datasets: [{
                    backgroundColor: ['rgb(12, 146, 204)',
                        'rgb(255, 67, 0)',
                        'rgb(131, 0, 255)',
                        'rgb(250, 255, 0)'
                    ],
                    borderColor: ['rgb(12, 146, 204)',
                        'rgb(255, 67, 0)',
                        'rgb(131, 0, 255)',
                        'rgb(250, 255, 0)'
                    ],
                    data: [73, 17, 3, 7],
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'right',
                    labels: {
                        fontColor: "white",
                        boxWidth: 20,
                        padding: 20
                    }
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>

</head>
<body>

    <div id="canvas-holder" style="width:30%;background-color: #4f4f4f; height:35%;">
        <canvas id="chart-area"></canvas>
        <p style="text-align:center; color: #fff;font-size: 14px;"><i>Browse by Channel</i></p>
    </div>

    <div style="text-align: center">
        <a id="an">test</a>
        <canvas id="Piecanvas"></canvas>
    </div>


</body>
</html>
