﻿@model CU.HouseHolding.DataAccess.Model.SummrybyMembers
@{
    ViewBag.Title = "Reports";
    ViewBag.Page = "summarybyproduct";
}


<header class="page-header">
    <style>
        * {
            box-sizing: border-box;
        }

        .chosen-container {
            width: 157px !important;
        }

        #myInput, #FilterMember {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 12px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: black;
                display: block
            }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }

        .custom-map__scroll-y {
            height: 300px;
            overflow-y: auto;
        }

        .custom-map-tbl__scroll-y {
            height: 270px;
            overflow-y: auto;
        }

        .tbl-col1 {
            width: 20px;
        }

        .mt-40 {
            margin-top: 40px;
        }

        #dataTable thead th {
            background-color: #34495e;
            color: white;
        }
    </style>
    <link href="~/Areas/Admin/Theme/css/dataTables.bootstrap4.css" rel="stylesheet" />

</header>
<div class="row" onload="showLoader(this);">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    @using (Html.BeginForm("Export", "Report", FormMethod.Post))
                    {
                        <a href="~/Report/DownloadSummary?ReportType=Products&ExportType=CSV" data-toggle="tooltip" title="Download CSV">
                            <img src="~/assets/images/csv.png" alt="Download CSV" />
                        </a>
                        <a href="~/Report/DownloadSummary?ReportType=Products&ExportType=Excel" data-toggle="tooltip" title="Download Excel">
                            <img src="~/assets/images/xls.png" alt="Download Excel" />
                        </a>
                        <a>
                            @*<input type="submit" id="btnSubmit" value="Export" />*@
                            <button type="submit" style="border:0px !important;background:transparent;" id="btnSubmit" data-toggle="tooltip" title="Download Pdf"> <img src="~/assets/images/pdf.png" alt="Download Pdf" /></button>
                        </a>
                        <input type="hidden" name="GridHtml" />
                        <input type="hidden" name="FileName" />
                    }
                </div>
                <h2 class="panel-title">HouseHold Summary by Total Products</h2>

            </header>
            <div class="panel-body">
                @using (Html.BeginForm("SummaryByTotalProducts", "Report", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);" }))
                {
                    @*<div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    Report : @Html.DropDownListFor(m => m.ReportNames, new SelectList(Model.ReportNames, ViewBag.SelectedName), "All Reports", new { @class = "chosen-select" })
                                </div>
                                <div class="col-md-4">
                                    Member Id :@Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                                <div class="col-md-4">
                                    HOH Id : @Html.TextBoxFor(m => m.HOHId, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-top:15px;">

                                <div class="col-md-4">
                                    HouseHold Id: @Html.TextBoxFor(m => m.HouseHoldId, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                                <div class="col-md-4">
                                    Member Name :@Html.TextBoxFor(m => m.MemberName, new { @class = "form-control", @style = "width:157px;" })
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>*@

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Tier1<br />1</th>
                                    <th>Tier2<br />2</th>
                                    <th>Tier3<br />3-4</th>
                                    <th>Tier4<br />5-6</th>
                                    <th>Tier5<br />6+</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.lstResults != null)
                                {
                                    for (int i = 0; i < Model.lstResults.Count(); i++)
                                    {
                                        var item = Model.lstResults[i];
                                <tr>
                                    <td style="color:black;">@item.Description</td>
                                    @if (i == 0)
                                    {
                                        <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Product",TierGroup=1 })' class="openPopup">@item.Tier1</a></td>
                                        <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Product",TierGroup=2 })' class="openPopup">@item.Tier2</a></td>
                                        <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Product",TierGroup=3 })' class="openPopup">@item.Tier3</a></td>
                                        <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Product",TierGroup=4 })' class="openPopup">@item.Tier4</a></td>
                                        <td><a href='@Url.Action("SummaryDetail", "Report", new { Type = "Product",TierGroup=5 })' class="openPopup">@item.Tier5</a></td>
                                        <td>@item.Total</td>
                                    }
                                    else
                                    {
                                        <td>@item.Tier1</td>
                                        <td>@item.Tier2</td>
                                        <td>@item.Tier3</td>
                                        <td>@item.Tier4</td>
                                        <td>@item.Tier5</td>
                                        <td>@item.Total</td>
                                    }
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="Grid" style="display:none;padding-right:5px;margin-right:5px;">
                        <h2 class="panel-title">HouseHold Summary by Total Products</h2>
                        <table cellpadding="2" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;padding-right:5px;margin-right:5px;">
                            <tr>
                                <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Description</th>
                                <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Tier 1<div style="padding-top:10px;">1</div></th>
                                <th style="background-color: #34495e;border: 1px solid #dddddd;color:white;">Tier 2<div style="padding-top:10px;">2</div></th>
                                <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Tier 3<div style="padding-top:10px;">3-4</div></th>
                                <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Tier 4<div style="padding-top:10px;">5-6</div></th>
                                <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Tier 5<div style="padding-top:10px;">6+</div></th>
                                <th style="background-color: #34495e;border: 1px solid #ddd;color:white;">Total</th>
                            </tr>

                            @foreach (var item in Model.lstResults)
                            {
                        <tr>
                            <td style="width:120px;border: 1px solid #ccc">@item.Description</td>
                            <td style="width:120px;border: 1px solid #ccc">@item.Tier1</td>
                            <td style="width:120px;border: 1px solid #ccc">@item.Tier2</td>
                            <td style="width:120px;border: 1px solid #ccc">@item.Tier3</td>
                            <td style="width:120px;border: 1px solid #ccc">@item.Tier4</td>
                            <td style="width:120px;border: 1px solid #ccc">@item.Tier5</td>
                            <td style="width:120px;border: 1px solid #ccc">@item.Total </td>
                        </tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Theme/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({/* Disable initial sort */
                "aaSorting": [],
                "pageLength": 25
            });

            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
                $("input[name='FileName']").val("SummaryReportByProducts");
            });
        });
    </script>
}

