﻿@{ 
    var profile = CU.HouseHolding.ProfileHelper.Profile;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="~/assets/stylesheets/Googlefonts.css" rel="stylesheet" />

    @Styles.Render("~/Content/DashboardCSS")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            font-family: Verdana !important;
        }
    </style>
</head>
<body>
    <section class="body">
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/assets/images/curise-logo.png" height="35" width="110px !important;" alt="CURise" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">
                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="dropdown">
                            <figure class="profile-picture">
                                <img src="~/assets/images/!logged-user.png" class="img-circle" data-lock-picture="~/assets/images/!logged-user.png" />
                            </figure>
                            <div class="profile-info">
                                <span class="name">@profile.LoggedUserProfile.FirstName  @profile.LoggedUserProfile.LastName</span>
                                <span class="role">User</span>
                            </div>
                            @*@RedirectResult("")*@
                            <i class="fa custom-caret"></i>
                        </a>
                    }
                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="~/User/Update/@profile.LoggedUserProfile.UserID"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="~/User/ChangePassword/@profile.LoggedUserProfile.UserID"><i class="fa fa-key"></i> Change Password</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="~/Home/Logout"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">

                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main" id="navmenu" style="font-weight:bold;">
                                <li class="nav-active" data-menuPageId="home">
                                    <a href="/BulkUpload/Index">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Upload Data</span>
                                    </a>
                                </li>
                                <li data-menuPageId="reports">
                                    <a href="/Report/Index">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span>View Report</span>
                                    </a>
                                </li>
                                <li data-menuPageId="mapping">
                                    <a href="/BulkUpload/CustomMapping">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span>Custom Mapping</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-copy" aria-hidden="true"></i>
                                        <span>Reports</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li data-menuPageId="search">
                                            <a href="/Report/Search">
                                                Search
                                            </a>
                                        </li>
                                        <li data-menuPageId="summarybymember">
                                            <a href="/Report/SummaryByTotalMember">
                                                Summary By Total Members
                                            </a>
                                        </li>
                                        <li data-menuPageId="summarybyproduct">
                                            <a href="/Report/SummaryByTotalProducts">
                                                Summary By Total Products
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

            </aside>
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>
        <input type="hidden" id="currentPageId" value="@(ViewBag.Page ?? "home")" />
    </section>

    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="~/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/assets/bootstrap-sortable/bootstrap-sortable.js"></script>
    <!-- Demo Purpose Only -->
    <script>
        (function () {
            $('#listenSlider').change(function () {
                $('.output b').text(this.value);
            });

            $('#listenSlider2').change(function () {
                var min = parseInt(this.value.split('/')[0], 10);
                var max = parseInt(this.value.split('/')[1], 10);

                $('.output2 b.min').text(min);
                $('.output2 b.max').text(max);
            });
        })();
    </script>
    <script>
        var showLoader = function (form) {
            $("<div />").css({
                'position': 'fixed',
                'left': 0,
                'right': 0,
                'bottom': 0,
                'top': 0,
                'background': '#0020ff36',
                'z-index': '99',
                'text-align': 'center'
            }).appendTo($("body"))
                .append(
                    $("<img />").attr("src", "@Url.Content("/../assets/images/Loader.gif")")
                );
        }

    </script>
    <script>
        $(function () {
            var pageIdAttr = "data-menuPageId";
            var currentPage = $("#currentPageId").attr("value");
            var menu = $("#navmenu");
            $("#navmenu > li").removeClass('nav-active');
            $("li[" + pageIdAttr + "=\"" + currentPage + "\"]", menu).addClass('nav-active');
            if (currentPage == 'search' || currentPage == 'summarybymember' || currentPage == 'summarybyproduct') {
                $(".nav-parent").addClass('nav-expanded');
            }
        });
    </script>


    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>
    @RenderSection("scripts")

    <!-- Examples -->
    @*<script src="~/assets/javascripts/dashboard/examples.dashboard.js"></script>*@
    @*https://mir-s3-cdn-cf.behance.net/project_modules/disp/35771931234507.564a1d2403b3a.gif*@
</body>
</html>
