﻿@model CU.HouseHolding.DataAccess.Model.CustomMappingViewModel

@if (Model.HouseHoldIds != null)
{
    <h2>HouseHoldId</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for HouseHoldId.." title="Type HouseHoldId">

    <ul id="myUL" class="custom-map__scroll-y">
        @if (Model.HouseHoldIds.Count > 0)
        {
            foreach (var item in Model.HouseHoldIds)
            {
                <li><a href="#" onclick="GetMembers('@item',false);">@item</a></li>
            }
        }
        else
        {
            <p style="color:red;">No Data Found</p>}

    </ul>
}
<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    function GetMembers(HHId,LoadUnAllocateList) {
        $.ajax({
            url: '@Url.Action("_MembersList")?HouseHoldId=' + HHId,
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);

            },
            success: function (result) {

                $('#detailsDiv').html(result);
                $("#allocate").prop('value', 'Allocate Selected to ' + HHId); 
                if (LoadUnAllocateList) {
                    LoadFilterData();
                }
            }
        });
    }
</script>
