﻿@model CU.HouseHolding.DataAccess.Model.CustomMappingViewModel
<br />
<h3>MemberList for HouseHold:@ViewBag.HouseHoldId</h3>
<br />
<div id="tblMembers">
    @if (Model.MemberIds.Count > 0)
    {
        <div class="custom-map-tbl__scroll-y">
            <table class="table table-bordered table-striped table-condensed">
                <thead><tr><td class="tbl-col1"><input type="checkbox" id="checkAll" /></td><td>Member Id</td></tr></thead>
                @foreach (var item in Model.MemberIds)
                {
                    <tr><td><input type="checkbox" id="@item.Id" /></td><td>@item.Memberid - @item.FirstName @item.LastName</td></tr>
                }
            </table>
        </div>

        @*<table width="100%" class="table table-bordered table-striped table-condensed mb-none">
            <thead>
                <tr>
                    <th class="tbl-col1"><input type="checkbox" id="checkAll" /></th>
                    <th>Member Id</th>
                </tr>
            </thead>
        </table>
        <div class="custom-map-tbl__scroll-y">
            <table width="100%" class="table table-bordered table-striped table-condensed">
                <tbody class="custom-map__scroll-y">
                    @foreach (var item in Model.MemberIds)
                    {
                        <tr><td class="tbl-col1"><input type="checkbox" id="@item.Id" /></td><td>@item.Memberid - @item.FirstName @item.LastName</td></tr>
                    }
                </tbody>
            </table>
        </div>*@
        @Html.Hidden("hdnHouseHoldId", (object)ViewBag.HouseHoldId)
    }
</div>

<div class="input-group" style="margin-top: 15px;">
    <input type="button" id="unallocate" name="search" value="Un Allocate Selected" class="form-control btn btn-primary">
</div>
<script>

    $("#checkAll").click(function () {
        $('#tblMembers input:checkbox').not(this).prop('checked', this.checked);
    });
    $("#unallocate").click(function () {
        var Selectedid = "";
        $("#tblMembers input:checkbox:checked").each(function () {

            Selectedid += $(this).attr("id") + ",";
        });
        if (Selectedid == '') {
            alert('Please select any Member First');
            return false;
        }

        $.ajax({
            url: '@Url.Action("DeAllocateMember")',
            type: 'POST',
            data: { 'SelectedMembers': Selectedid, 'HouseHoldId': $('#hdnHouseHoldId').val()},
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);

            },
            success: function (result) {
                //alert(result);
                //$('#detailsDiv').html(result);
                GetMembers($('#hdnHouseHoldId').val(),true);
            }
        });
    });
</script>


