﻿@model CU.HouseHolding.DataAccess.Model.CustomMappingViewModel

@if (Model.UnAllocatedMemberIds != null)
{
    <h4 class="mt-40">UnAllocated Members</h4>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for HouseHoldId.." title="Type in a name">

    <ul id="myUL" class="custom-map__scroll-y">
        @if (Model.UnAllocatedMemberIds.Count > 0)
        {
            foreach (var item in Model.UnAllocatedMemberIds)
            {
                <li><a href="#">@item.Memberid - @item.FirstName @item.LastName</a></li>
            }
        }
        else
        {
            <p style="color:red;">No Data Found</p>}

    </ul>
}
