﻿@model CU.HouseHolding.DataAccess.Model.CustomMappingViewModel
@{
    ViewBag.Title = "Custom Mapping";
    ViewBag.Page = "mapping";
}

<header class="page-header">
    <h2>Custom Mapping</h2>
    <style>
        * {
            box-sizing: border-box;
        }

        .chosen-container {
            width: 157px !important;
        }

        #myInput, #FilterMember {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 12px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: black;
                display: block
            }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }

        .custom-map__scroll-y {
            height: 300px;
            overflow-y: auto;
        }

        .custom-map-tbl__scroll-y {
            height: 270px;
            overflow-y: auto;
        }

        .tbl-col1 {
            width: 20px;
        }

        .mt-40 {
            margin-top: 40px;
        }
    </style>
    <link href="~/Content/chosen.css" rel="stylesheet" />


</header>
<div class="row" onload="showLoader(this);">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @*<div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>*@

                <h2 class="panel-title"><span style="color:red;">Click on HouseHold Id to see its Members List</span></h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("CustomMapping", "BulkUpload", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);" }))
                {

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                Report : @Html.DropDownListFor(m => m.ReportNames, new SelectList(Model.ReportNames, ViewBag.SelectedName), "All Reports", new { @class = "chosen-select" })
                            </div>
                            <div class="col-md-3">
                                City : @Html.DropDownListFor(m => m.Cities, new SelectList(Model.Cities, ViewBag.SelectedCityName), "All Cities", new { @class = "chosen-select" })
                            </div>
                            <div class="col-md-3">
                                State : @Html.DropDownListFor(m => m.States, new SelectList(Model.States, ViewBag.SelectedStateName), "All States", new { @class = "chosen-select" })
                            </div>
                            <div class="col-md-3">
                                ZipCode : @Html.DropDownListFor(m => m.Zipcodes, new SelectList(Model.Zipcodes, ViewBag.SelectedZipcode), "All ZipCode", new { @class = "chosen-select" })
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top:15px;">

                            <div class="col-md-3">
                                Member Name: @Html.TextBoxFor(m => m.MemberName, new { @class = "form-control", @style = "width:157px;" })
                            </div>
                            <div class="col-md-2">
                                HouseHoldId :@Html.TextBoxFor(m => m.HHId, new { @class = "form-control", @style = "width:157px;" })
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.Partial("_HouseHoldList", Model)
                        </div>
                        <div class="col-md-5" id="detailsDiv">
                        </div>
                        @*<div class="col-md-4">
                                @Html.Partial("_UnAllocatedMembersList", Model)
                            </div>*@
                        <div class="col-md-4">
                            <h4 class="mt-40">UnAllocated Members</h4>

                            <input type="text" id="FilterMember" onkeyup="LoadFilterData()" placeholder="Search for Member.." title="Type in a name">
                            <div id="result" class="custom-map-tbl__scroll-y">

                            </div>
                            <div class="input-group" id="dvaddmore" style="margin-top: 15px;">
                                <input type="button" id="allocate" name="search" value="Allocate Selected" class="form-control btn btn-primary">
                            </div>
                            <div class="input-group" id="dvaddmore" style="margin-top: 15px;">
                                <input type="button" id="allocatewithnewHH" name="search" value="Allocate Selected With New HouseHold" class="form-control btn btn-primary">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script>
        var pageCount = 1; // start at 26th record (assumes first 25 included in initial view)
        var takeCount = 1000; // return new 25 records
        var hasMoreRecords = true;
        $(document).ready(function () {
            $(".chosen-select").chosen();
            LoadData();

        });

        //$("#result").scroll(function () {
        //    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
        //        //$("span").show();
        //        //alert('recahed');
        //        LoadFilterData();
        //    } else {
        //        //$("span").hide();
        //    }
        //});

        function LoadData() {

            //if (pageCount > 1) {
            //    $('#result tr#btnrow').remove();
            //}
            if (!hasMoreRecords) {

                return;
            }
            var mytable = $('<table class="table table-bordered table-striped table-condensed mb-none"></table>');
            $('<thead><tr><td class="tbl-col1"><input type="checkbox" id="chkallunallocated" onclick="UnchkAllocated(this);"></input></td><td>Member</td></tr></thead>').appendTo(mytable);
            $.ajax({
                url: "/BulkUpload/GetUnAllocateMembersList",
                data: { pageCount: 1, takeCount: takeCount },
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (data === null) {
                        hasMoreRecords = false; // signal no more records to display

                    }
                    else {
                        $.each(data.items, function (index, item) {
                            //var container = $('<table></table>');
                            $('<tr><td><input type="checkbox" id=' + data.items[index].Id + '></input></td><td>' + data.items[index].Memberid + ' - '+ data.items[index].FirstName + ' ' + data.items[index].LastName + '</td></tr>').appendTo(mytable);

                        });
                        //if (data.items.length != 0) {
                        //    $('<tr id="btnrow"><td colspan="2"><input type="button" id="btnLoadMore" onclick="LoadData();" value="Load More"></input></td></tr>').appendTo(mytable);
                        //}
                        mytable.appendTo("#result");
                        pageCount += 1; // update for next iteration
                    }
                    //alert(data.items[index].FirstName);
                    //alert('test');
                },
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                }
            });
        }
        function LoadFilterData() {
            $("#result").empty();

            if ($('#FilterMember').val() == '') {
                LoadData();
            }
            else {
                var mytable = $('<table class="table table-bordered table-striped table-condensed mb-none"></table>');
                $('<thead><tr><td class="tbl-col1"><input type="checkbox" id="chkallunallocated" onclick="UnchkAllocated(this);"></input></td><td>Member</td></tr></thead>').appendTo(mytable);
                $.ajax({
                    url: "/BulkUpload/GetFilterMembersList",
                    data: { searchText: $('#FilterMember').val() },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {

                        if (data === null) {
                            alert('t');
                            return; // signal no more records to display
                        }
                        else {
                            $.each(data.results, function (index, item) {
                                //var container = $('<table></table>');
                                $('<tr><td><input type="checkbox" id=' + data.results[index].Id + '></input></td><td>' + data.items[index].Memberid + ' - ' + data.items[index].FirstName + ' ' + data.items[index].LastName + '</td></tr>').appendTo(mytable);

                            });
                            // $('<tr id="btnrow"><td colspan="2"><input type="button" id="btnLoadMore" onclick="LoadData();" value="Load More"></input></td></tr>').appendTo(mytable);
                            mytable.appendTo("#result");

                        }
                        //alert(data.items[index].FirstName);
                        //alert('test');
                    },
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    }
                });
            }
        }


        function UnchkAllocated(data) {
            $('#result input:checkbox').not(data).prop('checked', data.checked);
        }

        $("#allocate").click(function () {

            if ($('#hdnHouseHoldId').val() == undefined || $('#hdnHouseHoldId').val() == '') {
                alert('Please select any HouseHold First');
                return false;
            }
        var Selectedid = "";
            $("#result input:checkbox:checked").each(function () {

            Selectedid += $(this).attr("id") + ",";
        });
            if (Selectedid == '') {
                alert('Please select any Member First');
                return false;
            }

        $.ajax({
            url: '@Url.Action("AllocateMember")',
            type: 'POST',
            data: { 'SelectedMembers': Selectedid, 'HouseHoldId': $('#hdnHouseHoldId').val()},
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);

            },
            success: function (result) {
                //alert(result);
                //$('#detailsDiv').html(result);
                GetMembers($('#hdnHouseHoldId').val());
                LoadFilterData();
            }
        });
        });

        $("#allocatewithnewHH").click(function () {

            //if ($('#hdnHouseHoldId').val() == undefined || $('#hdnHouseHoldId').val() == '') {
            //    alert('Please select any HouseHold First');
            //    return false;
            //}
        var Selectedid = "";
            $("#result input:checkbox:checked").each(function () {

            Selectedid += $(this).attr("id") + ",";
        });
            if (Selectedid == '') {
                alert('Please select any Member First');
                return false;
            }

        $.ajax({
            url: '@Url.Action("AllocateMemberwithNewHH")',
            type: 'POST',
            data: { 'SelectedMembers': Selectedid},
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);

            },
            success: function (result) {
                alert('Selected Members assigned with New HouseHold - ' +result);
                //$('#detailsDiv').html(result);
                $("#myUL p").remove();
                //GetMembers($('#hdnHouseHoldId').val());
                
                $('#myUL li:eq(0)').before("<li><a href='#' onclick=\"GetMembers('" + result + "', false)\">" + result+"</a></li>");
                LoadFilterData();
            }
        });
    });
    </script>
}