﻿
@{
    /**/

    ViewBag.Title = "Upload Data";
    ViewBag.Page = "home";
}
<header class="page-header">
    <h2>Upload Data</h2>
    @*<div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span></span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>*@
</header>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @*<div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>*@

                <h2 class="panel-title"></h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "BulkUpload", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);" }))
                {
                    if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Message"]</strong>
                        </div>
                    }
                    if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Error"]</strong>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Select Import File</label>
                        <div class="col-md-7">
                            <div class="col-md-5">
                                <input type="file" name="postedFile" id="Files" />
                            </div>
                            <div class="col-md-7">
                                <input type="button" id="UploadBtn" class="btn btn-danger" value="Validate" />
                                <a href="~/Report/Download/0" class="btn btn-primary">
                                    Download Sample File
                                </a>
                                <i class="fa fa-question-circle" style="font-size:35px;vertical-align:middle;" data-toggle="modal" data-target="#myModal"></i>

                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Columns Explaination</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="~/assets/images/help.jpg" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 control-label" for="inputDefault"></label>
                        <div class="col-md-6">
                            <div id="progressbar-5">
                                <div class="progress-label">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 control-label" for="inputDefault"></label>
                        <div class="col-md-6">
                            <div class="row" id="Message">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hdnfilevalidated" value="false" name="hdnfilevalidated" />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Select Similarity Score</label>
                        <div class="col-md-6">
                            <div class="mt-lg mb-lg slider-primary" data-plugin-slider data-plugin-options='{ "value": 85, "range": "min", "max": 100 }' data-plugin-slider-output="#listenSlider">
                                <input id="listenSlider" name="listenSlider" type="hidden" value="85" />
                            </div>
                            <p class="output">The current value is: <b>85</b></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Report Name</label>
                        <div class="col-md-6">
                            @Html.TextBox("ReportName", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">
                            <button type="submit" onclick="return CheckValidate();" class="mb-xs mt-xs mr-xs btn btn-primary">Submit</button>
                        </div>
                    </div>
                }
            </div>
            <footer class="panel-footer">
                @*<button class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>*@
            </footer>
        </section>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $('#UploadBtn').click(function () {

            var fileUpload = $("#Files").get(0);
            var files = fileUpload.files;
            // Create FormData object
            var fileData = new FormData();
            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            $.ajax({
                url: '/BulkUpload/ValidateFile',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                async: false,
                success: function (result) {
                    //alert(result);
                    if (result != "") {
                        $('#FileBrowse').find("*").prop("disabled", true);
                        LoadProgressBar(result); //calling LoadProgressBar function to load the progress bar.
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

        });
        function CheckValidate() {
            //alert($('#hdnfilevalidated').val());
            if ($('#hdnfilevalidated').val() == 'false')
            {
                alert('Please Validate the File');
                return false;
            }
            if ($('#hdnfilevalidated').val() == 'error') {
                alert('Please upload valid file');
                return false;
            }
        }
        function LoadProgressBar(result) {
            var progressbar = $("#progressbar-5");
            var progressLabel = $(".progress-label");
            progressbar.show();
            $("#progressbar-5").progressbar({
                //value: false,
                change: function () {
                    progressLabel.text(
                        progressbar.progressbar("value") + "%");  // Showing the progress increment value in progress bar
                },
                complete: function () {
                    progressLabel.text("Loading Completed!");
                    progressbar.progressbar("value", 0);  //Reinitialize the progress bar value 0
                    progressLabel.text("");
                    progressbar.hide(); //Hiding the progress bar
                    //var markup = "<tr><td>" + result + "</td><td><a href='#' onclick='DeleteFile(\"" + result + "\")'><span class='glyphicon glyphicon-remove red'></span></a></td></tr>"; // Binding the file name
                    //$("#ListofFiles tbody").append(markup);

                    data = JSON.parse(result);
                    $("#Message").empty();
                    if (data.length == 0) {
                        var markup = "<div class=\"alert alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button><strong>Your file is Successfully Validated</strong></div>"
                        $('#hdnfilevalidated').val('true');
                        $("#Message").append(markup);
                    }
                    else {
                        for (index in data) {
                            if (data[index].includes("Error")) {
                                var markup = "<div class=\"alert alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button><strong>" + data[index] + "</strong></div>"
                                $('#hdnfilevalidated').val('error');
                                $("#Message").append(markup);
                            }
                        }
                    }
                  
                    //$('#Files').val('');
                    $('#FileBrowse').find("*").prop("disabled", false);
                    //window.setTimeout(function () {
                    //    $("#success-alert").alert('close');
                    //}, 4000);
                }
            });
            function progress() {
                var val = progressbar.progressbar("value") || 0;
                progressbar.progressbar("value", val + 1);
                if (val < 99) {
                    setTimeout(progress, 25);
                }
            }
            setTimeout(progress, 100);
            
        }

       

    </script>
}




