﻿@{
    var profile = CU.HouseHolding.Areas.Admin.ProfileHelper.AdminProfile;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HouseHold | Admin</title>
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Theme/css/all.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Theme/css/Googlefonts.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Theme/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Theme/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Theme/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <style>
        .topbar.navbar-light .navbar-nav .nav-item .nav-link {
            color: gray;
        }
    </style>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                @*<div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>*@
                <img src="~/assets/images/curise-logo.png" height="80" alt="CURise Admin" />
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Heading -->
            @*<div class="sidebar-heading">
                    Interface
                </div>*@
            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Charts -->
            <li class="nav-item" data-menuPageId="adminhome">
                <a class="nav-link" href="~/Admin/Master/Users">
                    <i class="fas fa-fw fa-users"></i>
                    <span>User Master</span>
                </a>
            </li>
            <!-- Nav Item - Tables -->
            <!-- Sidebar Toggler (Sidebar) -->
            @*<div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>*@
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <h1 class="h3 text-primary">@ViewBag.PageName</h1>
                        </div>
                    </form>
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success" id="success-alert">
                            <button type="button" class="close" data-dismiss="alert">  x</button>
                            <strong>Success! </strong>
                            @TempData["Message"]
                        </div>
                    }
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@profile.LoggedUserProfile.FirstName  @profile.LoggedUserProfile.LastName</span>
                                <img class="img-profile rounded-circle" src="~/assets/images/!logged-user.png">
                                &nbsp;<i class="fas fa-caret-down"></i>
                            </a>

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="~/Admin/Users/@profile.LoggedUserProfile.UserID">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Admin/Account/Logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @RenderBody()

                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="~/Admin/Account/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Do you really want to delete this user?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="~/Admin/Account/Logout">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Theme/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/bootstrap.bundle.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Theme/js/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Areas/Admin/Theme/js/sb-admin-2.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/dataTables.bootstrap4.min.js"></script>
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('#dataTable').DataTable();
            window.setTimeout(function () {
                $("#success-alert").alert('close');
            }, 4000);

        });

    </script>
    <script>
        var showLoader = function (form) {
            $("<div />").css({
                'position': 'fixed',
                'left': 0,
                'right': 0,
                'bottom': 0,
                'top': 0,
                'background': '#0020ff36',
                'z-index': '99',
                'text-align': 'center'
            }).appendTo($("body"))
                .append(
                    $("<img />").attr("src","@Url.Content("~/assets/images/Loader.gif")")
                );
        }

    </script>

</body>
</html>
