﻿@model CU.HouseHolding.DataAccess.Model.User
@{
    ViewBag.Title = "Login";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin - Login</title>
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Theme/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Theme/css/Googlefonts.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Theme/css/sb-admin-2.min.css" rel="stylesheet" />
    <style type="text/css">
        .mt-5, .my-5 {
            margin-top: 10rem !important;
            margin-bottom: 10rem !important;
        }

        .bg-gradient-primary {
            background-color: #ECEDF0;
            background-image: none !important;
            background-size: cover;
        }
    </style>
</head>
<body class="bg-gradient-primary">
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Admin Login</h1>
                                    </div>
                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "user" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @*<input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">*@
                                            @Html.TextBoxFor(s => s.EmailAddress, new { @placeholder = "Username", @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @*<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                                            @Html.TextBoxFor(s => s.Password, new { @placeholder = "Password", @type = "Password", @class = "form-control form-control-user", required = "" })
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                @Html.CheckBoxFor(m => m.RememberSignIn)
                                                <label  for="RememberSignIn">Remember Me</label>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div>
                                                <input type="checkbox" class="custom-control-input" id="RememberSignIn" name="RememberSignIn">
                                                 @Html.CheckBoxFor(m => m.RememberSignIn) 
                                                <label class="custom-control-label" for="RememberSignIn">Remember Me</label>
                                            </div>
                                        </div>*@
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Sign In</button>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Theme/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/bootstrap.bundle.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Theme/js/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Areas/Admin/Theme/js/sb-admin-2.min.js"></script>
</body>
</html>


