﻿@model CU.HouseHolding.DataAccess.Model.User

@{
    ViewBag.Title = "Change Password";
    ViewBag.Page = "userprofile";
}

<header class="page-header">
    <h2>Update Details</h2>
</header>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title"></h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                    @Html.HiddenFor(model => model.UserID)
                    if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Message"]</strong>
                        </div>
                    }
                    if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Error"]</strong>
                        </div>
                    }
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Old Password</label>
                            <div class="col-md-6">
                                @Html.TextBox("OldPassword", null, new { @class = "form-control", @type = "Password", required = "Please Enter Old Password" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">New Password</label>
                            <div class="col-md-6">
                                @Html.TextBox("NewPassword", null, new { @class = "form-control", @type = "Password", required = "Please Enter Old Password" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Confirm Password</label>
                            <div class="col-md-6">
                                @Html.TextBox("ConfirmPassword", null, new { @class = "form-control", @type = "Password", required = "Please Enter Old Password" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
@section scripts{}


